/* logo style */

.logo {

    margin-left: 20px;
    color: white;
    font-size: 30px;
}

.tm {
    font-size: 0.4em;
    vertical-align: top;
}

/* logo style */

/* beginning of styles for dashboard page */
*{
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: white;
    margin:0;
    padding:0;
}
body {
    background-image: url("background.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #CD3333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    opacity: 1;
}
.delete-btn:hover {
    background-color: #fff; 
    color: #CD3333; 
}

.popup {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: fixed;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%; 
    max-width: 400px;
    transition: top 0ms ease-in-out 300ms, opacity 300ms ease-in-out, margin-top 300ms ease-in-out;
    z-index: 1;
    color: white; 
}

.popup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup form label {
    margin-bottom: 5px;
}

.popup form input,
.popup form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.popup form button[type="submit"] {
    width: auto;
    padding: 8px 16px;
    bottom: 5px;
    right: 10px;
    position: absolute; 
    background: #eee;
    color: #111;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup form button[type="submit"]:hover {
    background-color: #ddd; 
}
.popup > * {
    margin: 15px 0px;
}

.popup input[type="text"],
.popup input[type="number"],
.popup select,
.popup select option,
.popup button[type="submit"] {
    color: black;
}

.popup .close-btn {
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: #eee;
    color: #111;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

body.active-popup {
    overflow: hidden; 
}

body.active-popup .content {
    filter: blur(10px);
    background: rgba(0, 0, 0, 0.08);
    transition: filter 0ms ease-in-out 0ms;

}

body.active-popup .popup {
    display: block;
    top: 50%;
    opacity: 1;
    margin-top: 0px;
    transition: top 0ms ease-in-out 0ms, opacity 300ms ease-in-out, margin-top 300ms ease-in-out;

}

.open-popup {
    position: relative;
    width: 190px;
    height: 240px;
    background-color: #3b3b7a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    z-index: 2; 
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.series-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px; 
}

.series-item {
    position: relative;
    width: 190px;
    height: 240px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
    margin: 20px;
}

.series-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.series-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.3s;
}

.series-item:hover img {
    opacity: 0.5;
}

.series-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    color: white;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
}

.series-item:hover .series-item-info {
    opacity: 1;
}
.series-item .series-item-info p:first-child {
    font-size: 14px;
}

/* end of styles for dashboard page */