<!--
    Author: Zeinab Barakat (add and delete series functionality and design), Hilal Cubukcu(modified add series to REST)
    Last modified on: 20.06.2024
    Title: Dashboard Page 
    Summary: This page displays the dashboard for logged-in users. It retrieves series data for the current user and allows users to add new series or delete them.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboardStyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    {% include 'navigation.html' %}
    {% include 'logo.html' %}

    <div class="content">
        <div class="dashboard-container">
            <div class="series-list">
                <button class="open-popup">Add new <br> series</button>
            </div>
        </div>
    </div>

    <div class="popup">
        <button class="close-btn">&times;</button>
        <h2>Add Series</h2>
        <form id="series-form" enctype="multipart/form-data">
            <label for="title">Title:</label>
            <input type="text" class="title" name="title" required>
            <label for="year">Year:</label>
            <input type="number" class="year" name="year" required min="1895" max="2024">
            <label for="seasons">Seasons:</label>
            <input type="number" class="seasons" name="seasons" required min="0">
            <label for="genre">Genre:</label>
            <select class="genre" name="genre" required>
                <option value="" disabled selected>Choose Genre</option>
                <option value="action">Action</option>
                <option value="adventure">Adventure</option>
                <option value="animation">Animation</option>
                <option value="comedy">Comedy</option>
                <option value="docu">Documentary</option>
                <option value="drama">Drama</option>
                <option value="fantasy">Fantasy</option>
                <option value="horror">Horror</option>
                <option value="romantic">Romantic</option>
                <option value="Sci-Fi">Sci-fi</option>
                <option value="Thriller">Thriller</option>
                <option value="Western">Western</option>
                <option value="Other">Other</option>
            </select>
            <label for="platform">Platform:</label>
            <select class="platform" name="platform" required>
                <option value="" disabled selected>Choose Platform</option>
                <option value="amazon prime">Amazon Prime</option>
                <option value="hbo">HBO</option>
                <option value="hbo max">HBO Max</option>
                <option value="hulu">Hulu</option>
                <option value="netflix">Netflix</option>
                <option value="nbc">NBC</option>
                <option value="rtl+">RTL+</option>
                <option value="other">Other</option>
            </select>
            <label for="rating">Rating (1-5):</label>
            <input type="number" class="rating" name="rating" required min="1" max="5">
            <label for="picture">Picture:</label>
            <input type="file" class="picture" name="picture" required>

            <button type="submit">Save</button>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            function togglePopup(active) {
                const popup = $(".popup");
                if (active) {
                    $("body").addClass("active-popup");
                    popup.css({
                        opacity: 1,
                        top: "50%",
                        marginTop: "0px"
                    });
                } else {
                    $("body").removeClass("active-popup");
                    popup.css({
                        opacity: 0,
                        top: "-100%",
                        marginTop: "-20px"
                    });
                    $("#series-form")[0].reset();
                }
            }
    
            $(document).on("click", ".open-popup", function() {
                togglePopup(true);
                window.scrollTo(0, 0);
            });
    
            $(".close-btn").click(function() {
                togglePopup(false);
            });
    
            $("#series-form").submit(function(event) {
                event.preventDefault();
    
                const title = $(".title").val();
                const year = $(".year").val();
                const seasons = $(".seasons").val();
                const genre = $(".genre").val();
                const platform = $(".platform").val();
                const rating = $(".rating").val();
                var pictureFile = $(".picture")[0].files[0];
    
                var reader = new FileReader();
                reader.onloadend = function() {
                    var pictureBase64 = reader.result.replace(/^.*;base64,/, '');
    
                    var formData = {
                        title: title,
                        year: year,
                        seasons: seasons,
                        genre: genre,
                        platform: platform,
                        rating: rating,
                        picture: pictureBase64
                    };
    
                    console.log("Sending data:", formData);
    
                    $.ajax({
                        url: '/series',
                        method: 'POST',
                        contentType: "application/json",
                        data: JSON.stringify(formData),
                        success: function(data) {
                            if (data.error) {
                                console.error("Failed to add series:", data.error);
                            } else {
                                togglePopup(false);
                                $("#series-form")[0].reset();
                                fetchSeries();
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error("Failed to add series:", error, xhr.responseText);
                        }
                    });
                };
                reader.readAsDataURL(pictureFile);
            });
    
            function fetchSeries() {
                $.ajax({
                    url: '/dashboard_data',
                    method: 'GET',
                    success: function(seriesList) {
                        const seriesContainer = $(".series-list");
                        seriesContainer.empty();
                        seriesContainer.append('<button class="open-popup">Add new <br> series</button>');
    
                        seriesList.forEach(function(serie) {
                            const seriesItem = `
                                <div class="series-item">
                                    <img src="data:image/jpeg;base64,${serie.picture}" alt="${serie.title}">
                                    <div class="series-item-info">
                                    <p>${serie.title}</p>
                                    <p>Year: ${serie.year}</p>
                                    <p>Seasons: ${serie.seasons}</p>
                                    <p>Genre: ${serie.genre.charAt(0).toUpperCase() + serie.genre.slice(1)}</p>
                                    <p>Platform: ${serie.platform.charAt(0).toUpperCase() + serie.platform.slice(1)}</p>
                                    <p>Rating: ${serie.rating}</p>
                                    </div>
                                    <button class="delete-btn" data-series-id="${serie.id}">&times;</button>
                                </div>
                            `;
                            seriesContainer.append(seriesItem);
                        });
    
                        $(document).on("click", ".delete-btn", function() {
                            var seriesId = $(this).data("series-id");
                            var confirmDelete = confirm("Are you sure you want to delete this series?");
    
                            if (confirmDelete) {
                                $.ajax({
                                    url: "/series/" + seriesId,
                                    method: "DELETE",
                                    success: function(response) {
                                        togglePopup(false); 
                                        location.reload();
                                        fetchSeries();
                                    },
                                    error: function(xhr, status, error) {
                                        console.error("Failed to delete series:", error);
                                    }
                                });
                            }
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error("Failed to fetch series:", error);
                    }
                });
            }
    
            fetchSeries();
        });
    </script>        

</body>
</html>
