<!--
    Author: Hilal Cubukcu
    Title: Login Page
    Last modified on: 07.06.2024
    Summary: This file represents the login page for Steam. It includes a form for user authentication and JavaScript for handling the login process.
-->
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Steam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script>
        //Hier wurde DOM verwendet, damit der JavaScript Funktion .addEventListener funktioniert. Alle Infos müssen zunächst geladen werden, bevor man submitted.
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('loginForm').addEventListener('submit', function(e) {
                e.preventDefault();
                const email = document.getElementById('email').value;
                const password = document.getElementById('password').value;

                fetch('/login', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email: email, password: password })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        document.getElementById('error').innerText = data.error;
                    } else {
                        // auf Dashboard weiterleitehn
                        window.location.href = '/dashboard';
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    </script>
</head>
<body class="register_login">
    <h1>Sign In to Steam<sup class="tm">TM</sup></h1>
    <form id="loginForm">
        <p id="error" class="error"></p>
        <label>E-Mail Address </label>
        <input type="email" id="email" placeholder="E-Mail Address">
        <label>Password</label>
        <input type="password" id="password" placeholder="Password">
        <p class="register-link">Didn't sign up yet? <a href="{{ url_for('register') }}">Click here to Sign Up.</a></p>
        <button type="submit">Sign In</button>
    </form>
</body>
</html>
