<!--
    Author: Melisa Rosic Emira
    Title: Profile Page
    Last modified on: 18.06.2024
    Summary: This file represents the user profile page for Steam. It includes a form for updating user information, such as name, email, and password, and selecting an avatar. JavaScript handles profile updates and account deletion.
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    {% include 'navigation.html' %}

    <button class="sidebar-toggle">&#9776;</button>
    <div class="profile-container">
        <aside class="profile-sidebar">
            <div class="profile-user-card">
                <div class="profile-user-avatar">
                    <img src="{{ url_for('static', filename=user['avatar']) }}" alt="User Avatar">
                </div>
                <div class="profile-user-info">
                    <h2>{{ user['name'] }}</h2>
                </div>
            </div>
            <nav class="profile-navigation">
                <ul>
                    <li><a href="#profile-section" class="nav-link">My Account</a></li>
                </ul>
                <ul>
                    <li><a href="{{ url_for('logout') }}" class="nav-link">Log out</a></li>
                </ul>
            </nav>
        </aside>
        <main class="profile-main">
            <section id="profile-section" class="profile-content active">
                <form id="updateProfileForm" class="account-form" enctype="multipart/form-data">
                    <h1>Account Settings</h1>
                    <input type="hidden" name="userId" value="{{ user['id'] }}">
                    <div class="form-group">
                        <label for="full-name">Name</label>
                        <input type="text" id="full-name" name="full_name" value="{{ user['name'] }}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="{{ user['email'] }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <h1>Avatar</h1>
                    <div class="form-group">
                        <ul>
                            <li><input type="radio" name="avatar" value="cat1.jpg" id="cb1">
                                <label class="avatar-image-label" for="cb1"><img src="{{ url_for('static', filename='cat1.jpg') }}" alt="Cat 1"></label>
                            </li>
                            <li><input type="radio" name="avatar" value="cat2.jpg" id="cb2">
                                <label class="avatar-image-label" for="cb2"><img src="{{ url_for('static', filename='cat2.jpg') }}" alt="Cat 2"></label>
                            </li>
                            <li><input type="radio" name="avatar" value="cat3.jpg" id="cb3">
                                <label class="avatar-image-label" for="cb3"><img src="{{ url_for('static', filename='cat3.jpg') }}" alt="Cat 3"></label>
                            </li>
                            <li><input type="radio" name="avatar" value="cat4.jpg" id="cb4">
                                <label class="avatar-image-label" for="cb4"><img src="{{ url_for('static', filename='cat4.jpg') }}" alt="Cat 4"></label>
                            </li>
                        </ul>
                    </div>
                    <button type="submit" class="save-changes-button">Save Changes</button>
                </form>
                <form id="deleteAccountForm" class="account-form">
                    <input type="hidden" name="userId" value="{{ user['id'] }}">
                    <div class="form-group">
                        <h2>Account Removal</h2>
                        <button type="submit" value="1" name="delete-account" class="btn-delete-account">Delete my account</button>
                    </div>
                </form>
            </section>
        </main>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toggle = document.querySelector('.sidebar-toggle');
            var sidebar = document.querySelector('.profile-sidebar');

            toggle.addEventListener('click', function () {
                sidebar.classList.toggle('active');
            });

            document.getElementById('updateProfileForm').addEventListener('submit', function(e) {
                e.preventDefault();
                
                const formData = new FormData(e.target);
                const data = {
                    userId: formData.get('userId'),
                    full_name: formData.get('full_name'),
                    email: formData.get('email'),
                    password: formData.get('password'),
                    avatar: formData.get('avatar')
                };

                fetch('/update_profile', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        alert(data.message);
                        window.location.reload();
                    }
                })
                .catch(error => console.error('Error:', error));
            });

            document.getElementById('deleteAccountForm').addEventListener('submit', function(e) {
                e.preventDefault();
                
                const formData = new FormData(e.target);
                const data = {
                    userId: formData.get('userId')
                };

                fetch('/delete_account', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        alert(data.message);
                        window.location.href = '/';
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    </script>
</body>
</html>
