<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up to Steam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="register_login">
    <h1>Sign up to Steam<sup class="tm">TM</sup></h1>
    <form action="{{ url_for('register') }}" method="POST">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="{{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label>Name</label>
        <input type="text" name="name" placeholder="Name">
        <label>E-Mail Address</label>
        <input type="text" name="email" placeholder="E-Mail Address">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
        <p class="register-link">Already Signed Up? <a href="{{ url_for('login') }}">Click here to Log In.</a></p>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
