<!--
    Author: Yudum Yilmaz
    Title: Search Page
    Last modified on: 20.06.2024
    Summary: This file represents the search page for Steam. It includes a form for search queries, filter options, and JavaScript for handling the search results.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script>
        function loadSearchResults(query, titleFilter, genreFilter, platformFilter) {
            console.log(`Query: ${query}, Title: ${titleFilter}, Genre: ${genreFilter}, Platform: ${platformFilter}`);
            fetch(`/search_handler?query=${query}&title=${titleFilter}&genre=${genreFilter}&platform=${platformFilter}`)
                .then(response => response.json())
                .then(data => {
                    let searchResultsContainer = document.getElementById("search-results");
                    searchResultsContainer.innerHTML = "";
                    data.forEach(series => {
                        let resultDiv = document.createElement("div");
                        resultDiv.classList.add("search-result");

                        let title = document.createElement("h3");
                        title.textContent = series.title;
                        resultDiv.appendChild(title);

                        let genre = document.createElement("p");
                        genre.textContent = series.genre;
                        resultDiv.appendChild(genre);

                        let platform = document.createElement("p");
                        platform.textContent = series.platform;
                        resultDiv.appendChild(platform);

                        let year = document.createElement("p");
                        year.textContent = series.year;
                        resultDiv.appendChild(year);

                        let seasons = document.createElement("p");
                        seasons.textContent = `${series.seasons} seasons`;
                        resultDiv.appendChild(seasons);

                        if (series.picture) {
                            let img = document.createElement("img");
                            img.src = `data:image/jpeg;base64,${series.picture}`;
                            img.alt = `${series.title} poster`;
                            resultDiv.appendChild(img);
                        }

                        let rating = document.createElement("p");
                        rating.textContent = `Rating: ${series.rating}`;
                        resultDiv.appendChild(rating);

                        searchResultsContainer.appendChild(resultDiv);
                    });
                })
                .catch(error => console.error('Error loading search results:', error));
        }

        window.onload = function() {
            loadSearchResults("", "title", "genre", "platform");
        }

        document.addEventListener("DOMContentLoaded", function() {
            var searchForm = document.querySelector('.search-form form');
            if (searchForm) {
                searchForm.addEventListener('submit', function(event) {
                    event.preventDefault();
                    var query = document.querySelector('.search-form input[name="query"]').value;
                    var titleFilter = document.querySelector('.filter-options select[name="title"]').value;
                    var genreFilter = document.querySelector('.filter-options select[name="genre"]').value;
                    var platformFilter = document.querySelector('.filter-options select[name="platform"]').value;
                    loadSearchResults(query, titleFilter, genreFilter, platformFilter);
                });
            }
        });
    </script>
</head>
<body>
    {% include 'navigation.html' %}
    {% include 'logo.html' %}
    
    <div class="search-container">
        <div class="search-form">
            <form>
                <input type="text" name="query" placeholder="What are you looking for?">
                <button type="submit">Go</button>
            </form>
        </div>

        <div class="filter-options">
            <form>
                <select name="title">
                    <option value="title">Title</option>
                    <option value="a-j">A-J</option>
                    <option value="k-t">K-T</option>
                    <option value="u-z">U-Z</option>
                </select>

                <select name="genre">
                    <option value="genre">Genre</option>
                    <option value="action">Action</option>
                    <option value="adventure">Adventure</option>
                    <option value="animation">Animation</option>
                    <option value="adult-swim">Adult Swim</option>
                    <option value="comedy">Comedy</option>
                    <option value="docu">Documentary</option>
                    <option value="drama">Drama</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="horror">Horror</option>
                    <option value="romantic">Romantic</option>
                    <option value="sci-fi">Sci-fi</option>
                    <option value="thriller">Thriller</option>
                    <option value="western">Western</option>
                    <option value="other">Other</option>
                </select>

                <select name="platform">
                    <option value="platform">Platform</option>
                    <option value="amazon prime">Amazon Prime</option>
                    <option value="hbo">HBO</option>
                    <option value="hbo max">HBO Max</option>
                    <option value="hulu">Hulu</option>
                    <option value="netflix">Netflix</option>
                    <option value="nbc">NBC</option>
                    <option value="disney+">Disney+</option>
                    <option value="rtl+">RTL+</option>
                    <option value="other">Other</option>
                </select>
            </form>
        </div>

        <div id="search-results" class="search-results-container"></div>
    </div>
</body>
</html>